.index-page {
    background-image: url('img/back-index.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titre-general {
    padding-left: 5rem;
    font-size: 3.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container-index-bottom {
    width: 100%;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(11, 2, 2, 0.8);
}

.h3-index-bottom {
    color: white;
    margin: 1rem 1.5rem;
    text-align: end;
    padding-right: 5%;
    font-size: 1.5rem;
    font-family: Roboto,"Helvetica Neue","Noto Sans","Liberation Sans", sans-serif;
}

.page-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 15px 5px;
    border-radius: 5px;
    width: 40%;
    margin: 2% auto auto 4%;
}

.page-links a {
    text-decoration: none;
    color: #102544;
    padding: .25rem .75rem;
}

.page-links a:hover {
    transition: .2;
    border-radius: 5px;
    background-color: #102544;
    text-decoration: none;
    color: white;

}

.page-links a {
    text-decoration: none;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.wrapper-tooltip{
    white-space: pre-line;
    min-width: 300px;
}

.title-tooltip {
    font-size: .9rem;
    color: teal;
    min-width: max-content;
    text-decoration: underline;
}

.left-side, .right-side, .left-side-company {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.left-side {
    /* vertical-align: inherit; */
    font-weight: 700;
}

.left-side-company {
    vertical-align: top;
    font-weight: 700;
}

.margin-y-2 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.margin-y-3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.tooltip-flag-display {
    display: flex;
    align-items: center;
}

.tooltip-flag {
    max-height: 8px;
    width: auto;
}

.img-border {
    border: 1px solid rgb(211, 211, 211);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity: .7;
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: .7;
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: .7;
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: .7;
    text-transform: none;
}
::-ms-input-placeholder { /* Microsoft Edge */
    opacity: .7;
    text-transform: none;
}

::placeholder { /* Most modern browsers support this now. */
    opacity: .7;
    text-transform: none;
}

.Select-placeholder{
    opacity: .8 !important;
    font-size: 14px;
}

.dropdown-toggle {
    margin-top: 15% !important;
    padding-left: 25px !important; 
    padding-right: 25px !important;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    background-color: #1c576e !important;
    border-color:#296d88 !important;
    color: whitesmoke !important;
}

.dropdown-toggle:hover {
    background-color: #1c576ea9!important;
    border-color:#1c576ea9!important;
    color: whitesmoke!important;
}

.dropdown-absolute {
    position: absolute !important;
    width: auto !important;
    padding-left: 3rem !important;
}

.marges-navbar-map{
    margin-left: 0 !important;
    margin-right: 2rem!important;
}


#resultDropdown table tbody tr > td {
    padding-left: .5rem !important;
    padding-top: .25rem !important;
    padding-bottom:.25rem!important;
    width: 50% !important;
    color: whitesmoke !important;
}

.complement-dropdown {
    margin-top: .75rem;
    font-size: small;
    font-style: italic;
    opacity: .5;
}
/* .left-side1-style{
    width: 100% !important;
    height: 45vh !important;
    padding-left: .5rem !important;
} */
 
#dropdown-airline .Select-control, 
#dropdown-dep-airport .Select-control, 
#dropdown-arr-airport .Select-control, 
#dropdown-aircraft .Select-control,
#dropdown-callsign-dep .Select-control, 
#dropdown-callsign-arr .Select-control, 
#dropdown-callsign-num .Select-control {
    border-color: transparent !important;
    background-color: rgb(25, 25, 25) !important;
    color:white;
}

#dropdown-airline .Select-menu-outer, 
#dropdown-dep-airport .Select-menu-outer, 
#dropdown-arr-airport .Select-menu-outer, 
#dropdown-aircraft .Select-menu-outer,
#dropdown-callsign-dep .Select-menu-outer, 
#dropdown-callsign-arr .Select-menu-outer, 
#dropdown-callsign-num .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

#dropdown-airline .Select-value-label, 
#dropdown-dep-airport .Select-value-label, 
#dropdown-arr-airport .Select-value-label, 
#dropdown-aircraft .Select-value-label,
#dropdown-callsign-dep .Select-value-label, 
#dropdown-callsign-arr .Select-value-label, 
#dropdown-callsign-num .Select-value-label {
    color: white !important;
}

.card-body {
    padding: 0 !important;
}

#dropdown-airline .Select-input > input,
#dropdown-dep-airport .Select-input > input,
#dropdown-arr-airport .Select-input > input,
#dropdown-aircraft .Select-input > input,
#dropdown-callsign-dep .Select-input > input,
#dropdown-callsign-arr .Select-input > input,
#dropdown-callsign-num .Select-input > input {
    color: cornsilk !important;
}
