# Ignorer le répertoire datas (json & csv générés)
*.json
*.csv
__pycache__

# Ignorer le dossier venv
venv/*

# Ignorer fichier env
.env

# Ignorer les logs
**/*.log

# Ignorer les sous-dossiers data
lufthansa_api/src/*/
init_db/data_csv_init/*

json_traitement.py
